:root {
  background-color: rgb(253, 255, 226);
  margin: 0;
}

html, body {
  height: 100wh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto; /* Header takes auto height, main takes remaining space */
}

.index{ 
  height: 73vh;

}

header {
  padding-top: 3vh;
  padding-bottom: 3vh ;
  display: grid;
  align-items: center;
  justify-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background-color: rgb(90, 114, 160);
  overflow: hidden;

  font-size: 50%;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 5vh;
}

main {
  padding: 3vh;
  overflow: auto;
}

img {
  width: auto;
  height: 15vh;
}
